.head {
  background-color: $color-violet;
  background-image: linear-gradient(to top, $color-violet, $color-white);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.head__wrapper {
  margin: 0 auto;
  padding: 25px 40px;
  max-width: 1366px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.head__title {
  @include reset-indents;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;

  text-shadow: 0 0 2px $color-violet;
}

.head__video-wrapper {
  text-align: center;

  overflow: hidden;
  border-radius: 15px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.head__video {
  margin-bottom: -6px;
}

.head__button {
  width: 900px;
  margin-top: 15px;
}


// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .head__video {
    width: 100%;
    height: auto;
  }

  .head__video-wrapper {
    width: auto;
    height: 100%;
  }

  .head__button {
    width: calc(100% - 60px);
  }
}


// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .head__video {
    width: 100%;
    height: auto;
  }

  .head__video-wrapper {
    margin-top: 5px;

    width: auto;
    height: 100%;
  }

  .head__button {
    width: calc(100% - 20px);
  }

  .head__title {
    font-size: 45px;
    line-height: 65px;
  }
}
