.properties {
  padding: 80px 50px;

  background-color: $color-violet;
  background-image: linear-gradient(to top, $color-violet, $color-white);
}

.properties__list {
  @include reset-indents;
  list-style: none;

  max-width: 1366px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.properties__item {
  width: 300px;
  margin-right: 40px;
  padding: 20px;
  box-sizing: border-box;

  border: 2px solid $color-yellow;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

  background-color: rgba(249, 231, 1, 0.3);

  &:last-child {
    margin-right: 0;
  }
}

.properties__title {
  position: relative;

  @include reset-indents;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  display: inline-block;
  min-height: 50px;

  padding-left: 65px;
  padding-top: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &--arm::before {
    background-image: url("../img/icons/icon-arm.svg");
  }

  &--body::before {
    background-image: url("../img/icons/icon-body.svg");
  }

  &--eye::before {
    background-image: url("../img/icons/icon-eye.svg");
  }
}

.properties__item p {
  @include reset-indents;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  padding-left: 10px;
  padding-right: 10px;
}


// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .properties__item {
    min-width: 200px;
  }

  .properties__list {
    justify-content: space-around;
  }

  .properties {
    padding: 50px 40px 60px 40px;
  }
}


// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .properties__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .properties__item {
    margin: 0 0 35px 0;
    width: 80%;
  }

  .properties {
    padding-bottom: 40px;
  }

  .properties__title {
    font-size: 16px;
    line-height: 20px;
  }

  .properties p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-left: 6px;
  }
}
